
NEXT_PUBLIC_SUPABASE_URL=https://nzxqeeesemlvoqhcuppr.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_hfWfaulc9bBxuGE1rFDHfw_TsmYXYtn
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im56eHFlZWVzZW1sdm9xaGN1cHByIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTExMTg0NTIsImV4cCI6MjEwNjY5NDQ1Mn0.vrguPqUhXPZ79McEQHDJh-bVg4IcTIp4Sj11JHaFHnQ